.pagina{
    background-color: darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img{
    width: 700px;
    height: 400px;
}

.img1{
    height: 1200px;
}

.autos{
    margin-top: 50px;
    border-top: 2px solid white;
}

.titulo{
    border-bottom: 3px solid white;
}

.botonAgregar{
    justify-content: center;
}

.tituloListas{
    border-bottom: 2px solid white;
}

